<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body>
    
    <div class="container">
        <h2 class="mt-5">home</h2>
        <button><a href="/logout">logout</a></button>
        <button><a href="/products">all products</a></button>
        <button><a href="/login">login</a></button>
        <button><a href="/signup">Sign Up</a></button>
    </div>
</body>
</html>
